@page
@model RazorPagesSports.Pages_Sports.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sports</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports.Name_of_Game)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.Name_of_Game)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports.Uniform_Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.Uniform_Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports.Number_of_Player)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.Number_of_Player)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports.First_Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.First_Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sports.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
